@using MauiApp1.Model
<div class="product-card">
    <img class="product-image" src="@Product.ImageUrl" alt="Product Name">
    <h3 class="product-title">@Product.Name</h3>
    <p class="product-description">@Product.Location.</p>
  
    <div class="product-price">
        $@Product.Price <span class="old-price">$@Product.Price</span>
    </div>
  
    <div class="rating">
        @for (int i = 1; i <= 5; i++)
        {
            <span class="star @(i <= Product.Rating ? "filled" : "")">
                ★
            </span>
        }
    </div>
    @*<NavLink href="/product/@Product.Id">View</NavLink>*@
    <button class="add-to-cart">Add to Cart</button>
    @*<button @onclick=""@(() => { ViewProductDetails(Product.Id);})></button>*@
</div>
@code
{
    [Parameter]
    public Product Product { get; set; }

   /*private void ViewProductDetails(int id)
    {
        Manager.NavigateTo($"/product/{id}");
    }
    */
}
